body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  background-color: #F7FFDD;
  font-family: monospace;
  color: #DBA159;
}
.form {
  text-align: center;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}
.form--fieldset{
    text-align: left;
    background-color: #FCFDAF;
    font-size: 115%;
    border-radius: 1%;
    border-color: #D0E3CC;
}
.form--button{
    font-size: 140%;
    color: #DBA159;
    background-color: #FCFDAF;
    width: 30%;
    padding:16px;
    border-radius: 40%;
}
.form--textarea{
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
